@import 'tailwindcss/base';

@import 'tailwindcss/components';
@import './cmdk.css';

@import 'tailwindcss/utilities';

@layer base {
  [data-accent='red'] {
    --accent-light: 220 38 38;
    --accent-dark: 239 68 68;
  }

  [data-accent='yellow'] {
    --accent-light: 245 158 11;
    --accent-dark: 250 204 21;
  }

  [data-accent='blue'] {
    --accent-light: 37 99 235;
    --accent-dark: 59 130 246;
  }

  [data-accent='purple'] {
    --accent-light: 147 51 234;
    --accent-dark: 168 85 247;
  }

  [data-accent='green'] {
    --accent-light: 22 163 74;
    --accent-dark: 34 197 94;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-base text-gray-800 dark:text-white overflow-x-hidden relative;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading font-bold;
  }

  blockquote p:last-child {
    @apply m-0;
  }

  :not(pre) > code {
    @apply text-accent text-[0.85em];
  }

  .article h1 {
    @apply font-bold text-3xl mb-5;
  }
  .article h2 {
    @apply font-bold text-2xl mb-5;
  }
  .article h3 {
    @apply font-bold text-xl mb-5;
  }
  .article h4 {
    @apply font-bold text-lg mb-4;
  }
  .article h5 {
    @apply font-medium text-base mb-4;
  }
  .article h6 {
    @apply font-medium text-sm mb-3;
  }
  .article p {
    @apply mb-8 leading-7;
  }
  .article ul {
    @apply mb-8;
  }
  .article ol {
    @apply mb-8;
  }
}

@layer components {
  .nav-mobile {
    @apply flex z-10 items-center justify-center transition-transform duration-500 mr-6 bg-white dark:bg-dark-200 fixed top-0 left-0 w-full h-screen flex-col text-xl translate-x-full;
  }

  .nav-desktop {
    @apply flex items-center justify-center bg-transparent relative top-auto left-auto w-auto h-auto flex-row text-base translate-x-0;
  }

  .nav-mobile.show {
    @apply translate-x-0;
  }

  .section-title {
    @apply mb-8 text-2xl font-bold flex items-center;
  }

  .section-title::before {
    content: '';
    @apply inline-block h-px bg-gray-300 dark:bg-gray-800 w-10 mr-4 -ml-14;
  }

  .postDetail {
    @apply text-accent text-sm;
  }

  .icon-btn {
    @apply bg-gray-100 hover:bg-gray-200 dark:bg-gray-800 dark:hover:bg-gray-700 focus:outline-none focus-visible:ring-1 h-7 w-7 grid place-content-center rounded-md;
  }

  .more-btn:hover .arrow {
    @apply translate-x-2 transition-transform;
  }
}

@layer utilities {
  .bg-base {
    @apply bg-white dark:bg-dark-200;
  }

  .bg-base-2 {
    @apply bg-gray-100 dark:bg-dark-100;
  }

  .text-accent {
    @apply text-accent-light dark:text-accent-dark;
  }

  .bg-accent {
    @apply bg-accent-light dark:bg-accent-dark;
  }

  .text-gray {
    @apply text-gray-600 dark:text-gray-400;
  }
}

/* Rehype code title */
.rehype-code-title {
  @apply px-3 text-xs mt-[1em] py-2 inline-block border-b border-gray-200 dark:border-dark-200 text-gray bg-[#FAFAFA] dark:bg-[#22272e];
  background: ;
  border-radius: 0.5em 0.5em 0 0;
}

.rehype-code-title + [data-bright-theme],
.rehype-code-title + [data-bright-theme] + [data-bright-theme] {
  margin-top: 0 !important;
  border-top-left-radius: 0 !important;
}
